# Notebook examples
notebooks/* linguist-detectable=false

# Scripts to generate data for tests
test/** linguist-detectable=false

# JOSS paper
paper/** linguist-detectable=false
# GitHub syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
